@model SportsStore.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "德维的运动店：立即结算";
}

<h2>立即结算?</h2>
<p>请正确地输入地址等相关信息，我们会以最快的方式将您的商品送到您的手中！</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <h3>物品结算</h3>
    <div class="form-group"><label>姓名:</label>@Html.TextBoxFor(x => x.Name,new{@class = "form-control"})</div>

foreach (var property in ViewData.ModelMetadata.Properties) {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap") {
<div class="form-group">
    <label>@(property.DisplayName ?? property.PropertyName)</label>
    @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
</div>
        }
    }

<h3>选项</h3>
<div class="checkbox">
    <label>
        @Html.EditorFor(x =>x.GiftWrap)
        是否包邮
    </label>
</div>
<div class="text-center">
    <input class="btn btn-primary"type="submit" value="完成结算" />
</div>
}